@media (max-width:940px) {
	.header-container {
		padding: 0px 20px;
	}

	.header-advants-list {
		padding: 0px 20px;
	}

	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.shop {
		padding-left: 20px;
		padding-right: 20px;
	}

	.filter {
		margin-right: 40px;
	}

}

@media (max-width: 900px) {
	.header__menu-link {
		font-size: 14px;
	}

	.user-link {
		font-size: 14px;
	}

	.header-advants-title {
		font-size: 26px;
		margin-bottom: 10px;
	}

	.advants-list-decor {
		width: 20px;
		height: 20px;
	}

	.header-advants-text {
		margin-top: 40px;
	}

	.news-title {
		font-size: 26px;
	}

	.contacts-title {
		font-size: 26px;
	}

	.form-title {
		font-size: 26px;
	}

	.footer {
		display: none;
	}

	.tab {
		padding-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.footer {
		margin-top: 1150px;
	}
}

@media (max-width: 500px) {
	.products-cart {
		position: absolute;
		left: 0;
		top: 850px;
	}

	.tab {
		position: absolute;
		bottom: -900px;
		margin: 0 auto;
	}

	.filter-btn {
		margin-bottom: 200px;
	}
}

@media (max-width: 459px) {
	.products-cart {
		position: absolute;
		left: 0;
		top: 850px;
		margin-left: 80px;
	}

	.tab {
		position: absolute;
		bottom: -1900px;
		margin-left: 45px;
	}

	.filter-btn {
		margin-bottom: 200px;
	}
}


@media (max-width: 360px) {
	.products-cart {
		margin-left: 60px;
	}
}