body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 940px;
	margin: 0 auto;
}

.header-container {
	max-width: 940px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	background: #000000;
	min-height: 72px;
}

.header__menu {
	padding-top: 29px;
}

.header__menu-list {
	display: flex;
	gap: 40px;
}


.header__burger-btn {
	width: 40px;
	height: 40px;
	border: none;
	position: relative;
	background: inherit;
	display: none;
	margin-left: 0px;
	z-index: 11;
}

.header__burger-btn span {
	position: absolute;
	width: 30px;
	height: 3px;
	background: #fff;
	left: 5px;
	border-radius: 25px;
	transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
	transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
	transform: translateY(10px);
}

.header.open .header__burger-btn span {
	background-color: #D72323;
}

.header.open .header__burger-btn span:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
	opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
	transform:  translateY(0) rotate(-45deg);
}

.header__menu-link {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	transition: 0.5s;
}

.header__menu-link:hover{
	color: #a9a9a9;
	font-size: 17px;
}

.user-login {
	display: flex;
	align-items: center;
}

.user-link {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
	text-decoration: none;
	margin-left: 15px;
	transition: 0.5s;
}

.user-link:hover {
	color: #a9a9a9;
	font-size: 17px;
}


.price {
	background: #f7f4f1;
	height: 100%;
	padding-bottom: 200px;
}

.footer {
	background: #242424;
	height: 193px;
	margin-top: 0px;
	padding-top: 62px;

}

.footer-text {
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 20px;
}

.footer-text span {
	text-decoration: underline;
}

.footer-box {
	display: flex;
	justify-content: space-between;
}

.social {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 100px;
}

.social-title {
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 20px;
}

.social-icons {
	display: flex;
	align-items: center;
	gap: 30px;
}

.dev a{
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #c2c2c2;
	text-decoration: none;
	background: #000000;
	padding: 10px 5px;
	width: 140px;
	text-align: center;
	transition: 0.7s;
}

.dev a:hover {
	background: #a9a9a9;
	color: #000;
	scale: 105%;
}

.dev a:active {
	scale: 95%;
	color: #fff;
	background: #000;
}

.dev {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.price-list {
	background: #fcf9f6;
}

.page-title {
	font-family: 'PT Sans Narrow';
	font-size: 30px;
	line-height: 42px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 55px;
}

.page-link {
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 60px;
	position: relative;
	margin-right: 30px;
}

.page-link::after{
	content: '';
	width: 10px;
	height: 10px;
	background: #000;
	position: absolute;
	transform: rotate(45deg);
	margin-top: 6px;
	margin-left: 12px;
}

.page-active {
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #aba9a7;
	}

.price-page-title {
	font-family: 'PT Sans Narrow';
	font-size: 48px;
	line-height: 48px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
}

.price-page-title::before {
	content: '';
	width: 160px;
	height: 2px;
	background: #000;
	position: absolute;
	margin-top: 23px;
	margin-left: -190px;
}

.price-page-title::after {
	content: '';
	width: 160px;
	height: 2px;
	background: #000;
	position: absolute;
	margin-top: 23px;
	margin-left: 30px;
}

.page-box-1 {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.page-list-title {
	font-family: 'PT Sans Narrow';
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 20px;
}

.page-list-name {
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 70px;
	position: relative;
}

.page-list-name li {
	padding-left: 30px;
	margin-bottom: 20px;
}

.page-list-name li::before{
	content: '';
	width: 10px;
	height: 10px;
	background: #000;
	position: absolute;
	transform: rotate(45deg);
	margin-top: 6px;
	margin-left: -30px;
}

.page-table table {
	border-collapse: collapse;
}

.page-table th {
	border: 2px solid #000;
	padding: 5px 0px;
	width: 220px;
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	}

.page-table-title {
	font-family: 'PT Sans Narrow';
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 30px;
}

.page-about-title {
	font-family: 'PT Sans Narrow';
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 30px;
}

.page-about-text {
	display: flex;
	gap: 100px;
}

.page-text-1 {
	max-width: 400px;
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.page-text-2 {
	max-width: 400px;
	font-family: 'PT Sans Narrow';
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}